<div class="topliner"></div>
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <a [routerLink]="['/']">
    <span id="site-title">Welcome to Fish App</span>
  </a>
  <div class="spacer"></div>

  <mat-menu #appMenu="matMenu">
    <a [routerLink]="['/']">
      <button mat-menu-item>Home</button>
    </a>
    <a [routerLink]="['fish-submission']">
      <button mat-menu-item>New Fish Profile</button>
    </a>
    <a [routerLink]="['fish-cam']">
      <button mat-menu-item>Live Fish Cam</button>
    </a>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">Menu</button>
</div>
