<div *ngFor="let fish of fishies" style="padding: 20px;">
  <mat-card style="max-width: 500px;">
    <mat-card-header>
      <mat-card-title>{{fish.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: inline-grid; margin: 10px;">
      <p>{{fish.description}}</p>
      <img src={{fish.img_url}} style="max-width: 350px; margin: 10px auto 0;">
    </mat-card-content>
  </mat-card>
</div>
<div style="padding: 20px;">
  <app-fish-submission></app-fish-submission>
</div>
