/* You can add global styles to this file, and also import other style files */

/* Global Styles */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/cdk/overlay-prebuilt.css';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #36454f;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #fafafa;
}

router-outlet+* {
  padding: 0 16px;
}

#site-title {
  font-size: 28px;
  font-weight: lighter;
  margin: 0;
  text-align: left;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h2 {
  font-size: 24px;
  margin: 8px 0;
}

p {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 70px;
  margin: -8px;
  padding-left: 100px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  background-color: #f7dd7e;
}

.container {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #f8de7e;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

/* Unordered List */

ul {
  padding-inline-start: 30px;
  padding-inline-end: 10px;
}

/* Table */

table {
  width: 100%;
}

/* Button */

.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f8de7e;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Rest and Focus on a button */
.rest {
  border-radius: 20px;
}

.rest:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.topliner {
  height: 30px;
  margin: -8px;
  padding-left: 100px;
  padding-right: 50px;
  display: flex;
  background-color:#c2ac4f;
}
